@CHARSET "UTF-8";

body{
	background-color: #eff0f0;
    font: 14px/100%  "Microsoft Yahei",arial,"Hiragino Sans GB","Hiragino Sans GB W3",宋体;
}
.login{
	
	position: relative;
	top: 150px;
	background-color: #CCD1D9;
	
}
.bg-color{
	background-color: #AAB2BD;
}
.bg-index-color{
	background-color: #AAB2BD;
}

.login-btn{
	
	background-color: #37BC9B;
	color: #fff;
}

.login-btn:hover{
	background-color: #48CFAD;
	border-color: #48CFAD;
	color: #fff;
}

.site-north{
	height: 8%; 
	background-color: #434A54;
}

a:focus {
    outline:none;
    outline-offset:0;
}
a:focus,a:hover {
    color: none;
    text-decoration: none;
}
ul{
	
	margin-bottom: 0px;
	list-style: none;
	
}

.cx2{
	
	height: 100%; 
	
	background-color: #656D78;
	
}
/*左侧菜单*/
		.sidebar-menu{
			margin-left: -15px;
			margin-right: -15px;
		}
		
		.accord > a{
		
			display: block;
			padding:10px 0px 10px 10px;
			color: #AAB2BD;
			border-bottom: 1px solid #434A54;
		
		}
		
		.accord > a:hover{
		
		    background-color: #37BC9B;
			color: #F5F7FA; 
		
		}		
		/*一级菜单*/
		.menu-first{
			
			
		}
		
		.menu-first .glyphicon-plus,.menu-first .glyphicon-minus{
		  float:right;
		  right: 35px;
		
		}
		
		.menu-first-selected{
		
			background-color: #37BC9B;
			color: #F5F7FA !important; 
		
		}
		
		.menu-second{
			background-color: #434A54;
			color: #fff;
		
		}
		
		
		/*二级菜单*/
		.menu-second li a{
		   
		   color: #E6E9ED;
		   
		}
		/*二级菜单鼠标划过样式*/
		.menu-second li a:hover {
		   
		}
		/*二级菜单选中状态*/
		.menu-second-selected {
			
		}
		
		
		