@CHARSET "UTF-8";
.login{
	
	position: relative;
	top: 150px;
	background-color: #CCD1D9;
	
}
.bg-color{
	background-color: #AAB2BD;
}
.bg-index-color{
	background-color: #AAB2BD;
}

.login-btn{
	
	background-color: #37BC9B;
	color: #fff;
}

.login-btn:hover{
	background-color: #48CFAD;
	border-color: #48CFAD;
	color: #fff;
}

/*左侧菜单*/
		.sidebar-menu{
			margin-left: -5px;
            margin-right: -5px;
		}
		/*一级菜单*/
		.menu-first{
			height:35px;
			line-height:35px;
			background-color: #656D78;
			margin-top:2px;
			margin-bottom:2px;
			color: #a1a4af;
			padding: 0;
			font-size: 14px;
			font-weight: normal;
			text-align: center;
			display: block; 
		}
		/*一级菜单鼠标划过状态*/
		.menu-first:hover{
			text-decoration: none;
			background-color: #d6d4d5;
			border-top: 1px solid #b7b7b7;
			border-bottom: 1px solid #acacac;
		}
		/*二级菜单*/
		.menu-second li a{
			background-color: #f6f6f6;
			height:31px;
			line-height:31px;
			border-top: 1px solid #efefef;
			border-bottom: 1px solid #efefef;
			font-size: 12px;
			text-align:center;
		}
		/*二级菜单鼠标划过样式*/
		.menu-second li a:hover {
			text-decoration: none;
			background-color: #4FC1E9;
			border-top: 1px solid #83ceed;
			border-bottom: 1px solid #83ceed;
			border-right: 3px solid #f8881c;
			border-left: 3px solid #66c3ec;
			color: black;
		}
		/*二级菜单选中状态*/
		.menu-second-selected {
			background-color: #66c3ec;
			height:31px;
			line-height:31px;
			border-top: 1px solid #83ceed;
			border-bottom: 1px solid #83ceed;
			border-right: 3px solid #f8881c;
			border-left: 3px solid #66c3ec;
			text-align:center;
		}
		/*覆盖bootstrap的样式*/
		.nav-list,.nav-list li a{
			padding: 0px;
			margin: 0px;
		}